.searchBox {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    left: 0%;
    top:0%
}

.searchBox > input[type="text"] {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
    border: none;
    color: rgba(0, 0, 0, 0.699);
    padding: 1vmax 2vmax;
    width: 50%;
    outline: none;
    border-radius: 0%;
    box-sizing: border-box;
    height: 8%;
    font: 400 1.5vmax cursive;
}

.searchBox > input[type="submit"] {
    height: 8%;
    border-radius: 0%;
    background-color: tomato;
    border: none;
    padding: 1vmax;
    width: 10%;
    font: 400 1.1 "Roboto";
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

.searchBox > input[type="submit"]:hover {
    background-color: blue;
}